/* styles.css */

body.black-background {
    background-color: #282c35;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    max-width: 400px;
    width: 100%;
    padding: 40px;
    box-sizing: border-box;
    background-color: #ggg;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #3498db;
}

.form-group {
    margin-bottom: 20px;
    color:#3498db;
}

.form-control {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f5f5f5;
    color: #333;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #3498db;
}

.btn {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #2186c3;
}

a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #2186c3;
}

/* Additional styles for form and links */
form {
    border-radius: 8px;
    overflow: hidden;
}

p {
    text-align: center;
}

.text-success {
    color: #27ae60;
}

.text-primary {
    color: #3498db;
}

.text-warning {
    color: #f39c12;
}

/* style.css */

/* Add some general styling for buttons */
.btn-primary {
    background-color: #007bff;
    color: #fff;
}

/* Add styling for section headings */
h3 {
    color: #007bff;
}

.container {
    margin-bottom: 20px;
    border: 1px solid #ddd; /* Add a border for better visual separation */
    padding: 15px;
    border-radius: 8px; /* Add border-radius for rounded corners */
}
